{% extends "base.html"%}
{% block title %} Services {% endblock  %}
{% block content %}
         
        <h1 style="text-align: center;">Programming services</h1>
            <br>
            <div style="text-align: center ;">
            <iframe  width="560" height="315" src="https://www.youtube.com/embed/2-VKC8g2u1Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br>
        <h2 style="text-align: center;">Free services</h2>
    
{% endblock %}